[submodule "vim/pack/dcloud/start/vim-airline"]
	path = vim/pack/dcloud/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/dcloud/start/vim-airline-themes"]
	path = vim/pack/dcloud/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/dcloud/start/vim-fugitive"]
	path = vim/pack/dcloud/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/dcloud/start/vim-gitgutter"]
	path = vim/pack/dcloud/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/dcloud/start/editorconfig-vim"]
	path = vim/pack/dcloud/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/dcloud/start/vim-commentary"]
	path = vim/pack/dcloud/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/dcloud/start/vim-diminactive"]
	path = vim/pack/dcloud/start/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive.git
[submodule "vim/pack/dcloud/start/fzf.vim"]
	path = vim/pack/dcloud/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/dcloud/start/ack.vim"]
	path = vim/pack/dcloud/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/dcloud/start/vim-repeat"]
	path = vim/pack/dcloud/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/dcloud/start/vim-surround"]
	path = vim/pack/dcloud/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/dcloud/start/auto-pairs"]
	path = vim/pack/dcloud/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/dcloud/start/supertab"]
	path = vim/pack/dcloud/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/dcloud/start/tabular"]
	path = vim/pack/dcloud/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/dcloud/start/ale"]
	path = vim/pack/dcloud/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/dcloud/start/vim-polyglot"]
	path = vim/pack/dcloud/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/dcloud/start/jedi-vim"]
	path = vim/pack/dcloud/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/pack/dcloud/start/vim-marked"]
	path = vim/pack/dcloud/start/vim-marked
	url = https://github.com/itspriddle/vim-marked.git
[submodule "vim/pack/dcloud/start/indentLine"]
	path = vim/pack/dcloud/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/dcloud/start/vim-workspace"]
	path = vim/pack/dcloud/start/vim-workspace
	url = https://github.com/thaerkh/vim-workspace
    ignore = dirty
[submodule "vim/pack/dcloud/start/vim-rhubarb"]
	path = vim/pack/dcloud/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/pack/dcloud/start/vim-go"]
	path = vim/pack/dcloud/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/dcloud/start/vim-dadbod"]
	path = vim/pack/dcloud/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "vim/pack/dcloud/start/vim-dispatch"]
	path = vim/pack/dcloud/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/dcloud/start/fugitive-azure-devops.vim"]
	path = vim/pack/dcloud/start/fugitive-azure-devops.vim
	url = https://github.com/cedarbaum/fugitive-azure-devops.vim
    ignore = untracked
[submodule "vim/pack/dcloud/start/emmet-vim"]
	path = vim/pack/dcloud/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
